@media (max-width: 1650px) {
    

    .main-left {
        padding-left: 12rem !important;
      }
      nav{
        justify-content: space-between;
      }
      footer img{
        position: absolute;
        bottom: 0;
        width: 100%;
      }
}

@media (max-width: 1480px) {
    .main-left {
        padding-left: 5rem !important;
      }

      footer img{
        height: 20vh;
        position: relative;
      }
}

@media (max-width: 1360px) {
    .main_about img{
        width: 450px;
    }
}

@media (max-width: 1360px) {
    .main_about p{
       font-size: 18px;
    }
}

@media (max-width: 1110px) {
    .main_about img{
       width: 400px;
    }

    .main_about h1{
        font-size: 50px;
    }

    .main_about button{
        padding: 0.5rem 1.4rem;
    }
}

@media (max-width: 760px) {
   .main-left{
    padding: 0 !important;
   }
   
    .main_about{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .main_about .mian-btn{
        display: flex;
        justify-content: center;
    }
}